<div>

<p>Many members of the <a href="http://www.ismrm.org">ISMRM</a> community develop customized software tools to solve problems in various aspects of MR sequence design, 
image reconstruction and data processing. The MR-Hub offers a platform where researchers can share their software solutions with the 
rest of the community - hopefully making more people aware of existing tools, allowing others to solve their own problems more rapidly 
by building on existing solutions. We encourage all members of the ISMRM community to follow the spirit of reproducible research, and 
consider making the code behind their publications available to share.</p>

<p>This page is managed by the <a href="https://www.ismrm.org/study-groups/reproducible-research/">Reproducible Research Study Group</a> 
of the ISMRM - and we encourage anyone with suggestions for additions and improvements to get involved. The GitHub repository for managing
this page is found here: <a href="https://github.com/ismrm/mrhub">https://github.com/ismrm/mrhub</a> - where you can also find instructions 
for how to add your own package via a pull-request to the repository.</p>

<p>Please also see <a href="https://github.com/ISMRM/mrhub/wiki"><img src="images_mrhub/MRHub_wiki_small.png" alt="" style="height:2rem"/></a> for more crowd-sourced information related to open science and reproducibility within the MRI community.</p>    
    
<p>This page was redesigned in this new GitHub format to coincide with ISMRM 2019 in Montreal, and so we hope it will grow considerably in the coming
months.</p>
    
    
</div>
