<div>

<p>Many members of the ISMRM community develop customized software tools to solve problems in various aspects of MR sequence design, 
image reconstruction and data processing. The MR-Hub offers a platform where researchers can share their software solutions with the 
rest of the community - hopefully making more people aware of existing tools, allowing others to solve their own problems more rapidly 
by building on existing solutions. We encourage all members of the ISMRM community to follow the spirit of reproducible research, and 
consider making the code behind their publications available to share.</p>

<p>This page is managed by the <a href="https://www.ismrm.org/study-groups/reproducible-research/">Reproducible Research Study Group</a> 
of the ISMRM - and we encourage anyone with suggestions for additions and improvements to get involved. The GitHub repository for managing
this page is found here: <a href="https://github.com/ismrm/mrhub">https://github.com/ismrm/mrhub</a></p>

<p>This page was redesigned in this new GitHub format to coincide with ISMRM 2019 in Montreal, and we aim to have full instructions of how to submit your own package to this page via a GitHub pull-request available very soon!</p>
    
    
</div>
