<div id="team" class="section">

	<!-- Section header -->
                    
                    <div class="form-group mx-sm-3 mb-2">
                      <div class="row">
                          <div class="col" style="max-width: 11%;">
                          <label>Categories:</label> 
                        </div>
                        <div class="col">
                          <select id="ddcategory" onchange="categories()" class="form-control inputstl" style="margin-bottom: 30px;">
                            <option value="all">All Categories </option>
                             {% assign categories = site.data.projects where: 'published', 'true' |  map: 'category'| join: ',' | split: ',' | uniq %}
                             {% for category in categories %}
                               <option value="{{ category }}">{{ category }}</option>
                               {% endfor %}
                            </select>
                          </div>
                            <div class="col">
                            <button onclick="sortedCitation()" class="btn btn-primary">Sort by citation</button>
                            <button onclick="sortedDate()" class="btn btn-primary">Sort by date</button>
                          </div>
                        </div>
                    </div>
                            
  

<!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row" id="list-projects">
    {% for project in site.data.projects %}
    <!--contributor -->


<div class="col-md-12 mb-30px">
    <button class="collapsible" style="   border: 3px solid #1D79B1;    padding: 0px;    border-radius: 10px;">
    <div class="listfeaturedtag h-100">
        <div class="row" style="margin-left: 0px;    margin-right: 0px;">
           
           
            <div>
                <div class="h-100 card-group">
                	
                    <div class="card">
                          <div class="card-body" style="flex: 1 1 auto; padding: 0.75rem; text-align: center;">
                        
                          <div class="row">
                            
                            <div class="col-md-2 col-s-12">
                            <img src="images_packages/{{ project.imageFile }}" style="max-width: 100%; max-height: 100px;"/></div>
                            <div class="col-md-10">
                                <h2 class="card-title" style="color:#1d315b; text-align: center;"><a class="text-dark" href="{{ project.mainURL }}">{{ project.name }}</a></h2>
                                <h6 class="card-text" style="color:#1D79B1; margin:.5rem;">{{ project.shortDescription }}</h6>

                            </div>
<!--                                <div class="projInfo" style="text-align:justify;padding-left: 12px;padding-bottom: 6px;padding-right: 6px;padding-top: 6px;">    -->
                                <div class="col-12" style="text-align:justify;padding-left: 18px;padding-bottom: 6px;padding-right: 18px;padding-top: 6px;">
                                    
                                    <div class="row">
                                    <div class="col-6">
                                        
                                     <h7 class="card-text"><font style="color:#1d315b"><i><b>Category:</b></i></font> <font style="color:#1D79B1">{{ project.category }}</font></h7> <br/>                                                                
                            <h7 class="card-text"><font style="color:#1d315b"><i><b>Principal developers:</b></i> </font><font style="color:#1D79B1">{{ project.principalDevelopers }}</font></h7><br/>

                            <h7 class="card-text"><font style="color:#1d315b; font-size:small"><i><b>Keywords:</i></b></font><font style="color:#1D79B1; font-size:small"> {% for wo in project.keywords %} {{ wo }}, {% endfor %}</font></h7>
                            <br/> 
                            </div>
                            <div class="col-6">            
                            <h7 class="card-text"><font style="color:#1d315b; font-size:small"><i><b>Date added to MR-Hub:</b></i></font> <font style="color:#1D79B1; font-size:small">{{ project.dateAddedToMRHub }}</font></h7><br /> 
                            <h7 class="card-text"><font style="color:#1d315b; font-size:small"><i><b>Date software last updated:</b></i></font> <font style="color:#1D79B1; font-size:small">{{ project.dateSoftwareLastUpdated }}</font></h7> 
                            <br/>
                                <h7 class="card-text"><font style="color:#1d315b; font-size:small;"><i><b>No. of citations:</b></i></font> <font style="color:#1D79B1; font-size:small">{{ project.citationCount }}</font></h7><br />
                                <div style="line-height:.75rem">
                                    <h7 class="card-text"><font style="color:#1d315b; font-size:small"><em>(main associated paper on <a href="https://api.semanticscholar.org/{{ project.citationSearchString }}">Semantic Scholar</a>)</em></font></h7> </div> 
                            </div> 
                                        
                            </div> 
                            </div>
                              
                              <div class="col-12">
                                    {% for wo in project.extraResources %} <h5><strong><a href="{{ wo.URL }}">{{ wo.resourceType }}</a></strong></h5> {% endfor %}
                              </div>
                              
                          </div>    
                            
                          
                        
                         
                        </div>
                        
                    </div>
                </div>
            </div>
       
        </button>
							<div class="content" style="padding: 9px 9px 9px 9px; display: none; bacground-color: #fff8dc">
  							<h4>Description</h4>	 <p>{{ project.longDescription }}</p>
  							<h4>References</h4>
  							<ol>
  							 {% for reference in project.keyReferences %}
  							 <li><a href="{{ reference.referenceURL }}">{{ reference.referenceText }}</a></li> <br/>
  							 {% endfor %}
  							</ol>
							</div>
	</div>
            {% endfor %}
    </div>
  </div>

</div>
