<!-- Container -->
<div class="container">

    <!-- Row -->
    <div id="projects-list">

        <div class="row">
            <div class="col-6">
                Categories:
                <select id="ddcategory" onchange="categories()" class="form-control inputstl" style="margin-bottom: 30px;">
                    <option value="all">All Categories ({{ site.data.info.all }}) </option>
                    {% assign categories = site.data.projects where: 'published', 'true' |  map: 'category'| join: ',' | split: ',' | uniq %}
                    {% for category in categories %}
                    <option value="{{ category }}">{{ category }} ({{ site.data.info.[category] }})</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-6">
                <p></p>
                <i class="fas fa-search fa-lg">&nbsp;&nbsp;</i><input class="search" placeholder="Search MR-Hub" />
            </div>
        </div>

        <center>

            <button class="sort btn btn-primary btn-sort" data-sort="name">
                Sort by name
            </button>
            <button class="sort btn btn-primary btn-sort"data-sort="dateadded">
                Sort by date added
            </button>
            <button class="sort btn btn-primary btn-sort" data-sort="dateupdated">
                Sort by date last updated
            </button>
            <button class="sort btn btn-primary btn-sort" data-sort="ncitations">
                Sort by citations
            </button>
        </center>

        <div class="col-md-12 mb-30px">

            <ul class="list">

                {% for project in site.data.projects %}

                <button data-target="#content{{ forloop.index }}" data-toggle="collapse" style="border: 2px solid #1D79B1;    padding: 10px;    border-radius: 10px; margin: 10px -26px 10px -53px; background-color:aliceblue">

                    <div class="row" style="margin-left: 0px;    margin-right: 0px;">

                        <div class="row">

                            <div class="col-md-3 col-s-12">
                                {% if project.imageFile %}
                                <img src="images_packages/{{ project.imageFile }}" style="max-width: 100%; max-height: 100px;" />
                                {% endif %}
                            </div>
                            <div class="col-md-9">
                                <a href="{{ project.mainURL }}">
                                    <div class="projectname name">{{ project.name }}</div>
                                </a>
                                <div class="projectdescription shortdescription">{{ project.shortDescription }}</div>
                            </div>

                            <div class="col-12" style="text-align:left;padding-left: 18px;padding-bottom: 6px;padding-right: 18px;padding-top: 6px;">

                                <div class="row">
                                    <div class="col-6">

                                        <div>
                                            <span class="projectinfolabel">Category:</span>
                                            <span class="category projectinfo">{{ project.category }}</span>
                                        </div>

                                        <div>
                                            <span class="projectinfolabel">Principal developers:</span>
                                            <span class="developers projectinfo">{{ project.principalDevelopers }}</span>
                                        </div>

                                        <div>
                                            <span class="projectinfolabel">Keywords:</span>
                                            <span class="keywords projectinfo">{% for wo in project.keywords %} {{ wo }}{% if forloop.last %}.{% else %}, {% endif %}{% endfor %}</span>
                                        </div>
                                    </div>

                                    <div class="col-6">

                                        <div>
                                            <span class="projectinfolabel">Date added to MR-Hub:</span>
                                            <span class="dateadded projectinfo">{{ project.dateAddedToMRHub }}</span>
                                        </div>

                                        <div>
                                            <span class="projectinfolabel">Date software last updated:</span>
                                            <span class="dateupdated projectinfo">{{ project.dateSoftwareLastUpdated }}</span>
                                        </div>

                                        <div>
                                            <span class="projectinfolabel">No. of citations:</span>
                                            <span class="ncitations projectinfo">{{ project.citationCount }}</span>
                                        </div>

                                        <div style="line-height:1rem">
                                            <span class="projectinfolabel" style="font-size:small"><em>(main associated paper on <a href="https://api.semanticscholar.org/{{ project.citationSearchString }}">Semantic Scholar</a>)</em></span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-12" style="text-align: center">
                                
                                {% for wo in project.extraResources %} 
                                {% if wo.resourceType.size > 0 %}
                                        <a href="{{ wo.URL }}" class="btn btn-primary" style="background-color: #19496E; border-color: #19496E;">{{ wo.resourceType }}</a>
                                {% endif %}        
                                {% endfor %}                                                                
                                
                            </div>

                        </div>

                    </div>
                    <div id="content{{ forloop.index }}" class="collapse" style="text-align: left; padding: 9px 9px 9px 9px; background-color: #fff8dc">
                        <h4>Description</h4>
                        <p>{{ project.longDescription }}</p>
                        <h4>References</h4>
                        <ol>
                            {% for reference in project.keyReferences %}
                            <li><a href="{{ reference.referenceURL }}">{{ reference.referenceText }}</a></li> <br />
                            {% endfor %}
                        </ol>
                    </div>

                </button>

                {% endfor %}
            </ul>
        </div>



    </div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js'></script>
<script src="js/index.js"></script>